* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

section {
    display: block;
}

main {
    margin-top: 70px;
}

div {
    display: block;
}

div:end {
    content: "";
    display: table;
    clear: both;
}

body {
    min-width: 320px;
    height: 100%;
    font-family: 'Roboto slab', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.title {
    top: 30%;
    left: 0;
    text-align: center;
    position: absolute;
    word-wrap: normal;
    width: 100%;
    font-family: Abduction;
    color: black;
    font-size: 50px;
}

.w_pic {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.65;
}

#top {
    min-height: 300px;
    background: #00a9ec;
    background-size: 100%
}

.logo {
    max-height: 250px;
}

.desc {
    padding: 25px;
    font-size: 30px;
    text-align: center;
    position: relative;
    background: white;
    min-height: 150px;
}

.excursion{
background: gold;
}

#camp {
    background: #ffcf25;
}

.foto {
    margin: 10px;
    border: 2px outset;
    padding: 0 !important;
}

#about{
    text-align: center;
    background-image: url("../img/kids.jpg");
    font-size: 20px;
    min-height: 500px;
}

.text{
    color: blue;
    background: rgba(255,255,255,0.7);
    margin-bottom: 10px;
}

#authors {
    position: relative;
    background: lightslategrey;
    height: 100px;
    text-align: center;
    display: grid;
}

.author {
    position: relative;
    display: inline-block;
    border-radius: 5px;
    font-size: 25px;
    margin: 10px 10px 0 10px;
    width: max-content;
    color: goldenrod;
    background: cornsilk;
}

@media screen and (max-width: 500px) {
    .foto {
        margin: 0 100px ;
        border: 2px outset;
    }
}